body{
	background-color: #98e698;
	font-size: 40px;
	font-family: 'Cabin Sketch', cursive;


}

#homepic {
	display: block;
    margin: auto;
    width: 40%;;
}

li{
	padding-left: 20px;

}

.active {
	background-color: white;
}

#intro{
	padding: 20px;
	text-align: center;
}

div{
	padding: 5px;
}

  .fix{
    position:fixed;
    bottom:20px;
    left:10%;
    }
